/* Colors */
*:focus {
  outline: 0px;
}

@font-face {
  font-family: 'Lydia Condensed';
  src: url('../assets/lydiacondensed-bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maison';
  src: url('../assets/MaisonNeue-Demi.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Druk';
  src: url('../assets/DrukWide-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.sans-serif {
  font-family: 'Maison';
}

.druk {
  font-family: 'Druk';
  text-transform: uppercase;
  letter-spacing: 1px;
}

input {
  border-radius: 0;
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'Maison' !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #86FF9E;
  opacity: .5;
  /* Firefox */
}

input:focus {
  outline: none !important;
  border: 1px solid #86FF9E;
  box-shadow: 0 0 10px #86FF9E;
}

:focus {
  color: #86FF9E;
}

a {
  text-decoration: none;
  font-family: Druk;
  letter-spacing: 1px;
  font-size: 14px;
}

.z--1 {
  z-index: -1;
}

.bg-red {
  background-color: #FF3f12;
}

.bg-lime {
  background-color: #86FF9E;
}

.bg-pink {
  background-color: #FFA9EF;
}

.red {
  color: #FF3f12;
}

.lime {
  color: #86FF9E;
}

.b--lime {
  border-color: #86FF9E;
}

.lime svg {
  fill: #86FF9E;
}

.pink {
  color: #FFA9EF;
}

.lh-narrow {
  line-height: 90%;
}

.serif {
  font-family: "Lydia Condensed", Serif;
  font-style: normal;
  font-weight: bold;
  line-height: 90%;
  align-items: center;
  text-transform: uppercase;
}

.hero-bg {
  background-image: url("../assets/hero-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60% auto;
}

@media screen and (max-width: 30em) {
  .hero-bg {
    background-position: 50% 25%;
  }
}

#hero img {
  left: 50%;
  bottom: -5%;
  transform: translateX(-50%);
  height: 70vh;
  width: auto;
}

.bg-beach {
  background-image: url("../assets/beach.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-palms {
  background-image: url("../assets/palms.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h3 {
  font-family: Lydia Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 59px;
  text-align: center;
  text-transform: uppercase;
}

.f1 {
  font-size: 44px;
}

.email-form input {
  height: 50px;
}

/* .min60 {
  min-height: 600px;
} */
.min60 img {
  object-fit: contain;
}

button {
  font-size: 12px;
  padding: 10px 16px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  font-family: Druk;
}

@media screen and (max-width: 60em) {
  .button {
    padding: 32px 40px;
  }
}

.lime-button {
  border: 2px solid #86FF9E;
  color: #86FF9E;
  background-color: transparent;
}

.red-button {
  border: 2px solid #FF3f12;
  background-color: transparent;
  color: #FF3f12;
}

.red-button:after {
  border: 2px solid #FF3f12;
  background: #FF3f12;
}

.max-height-vh-100 {
  max-height: 100vh;
}

@media screen and (max-width: 60em) {
  .offset-img {
    margin-left: -6%;
  }
}

/* Sweep To Right Lime, Red Text */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #86FF9E;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #FF3f12;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right Lime, Pink Text */
.hvr-sweep-to-right-pinktxt {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-pinktxt:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3f12;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-pinktxt:hover, .hvr-sweep-to-right-pinktxt:focus, .hvr-sweep-to-right-pinktxt:active {
  color: #F3ADEB;
}

.hvr-sweep-to-right-pinktxt:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right Red,  */
.hvr-sweep-to-right-red {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-red:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3f12;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-red:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #FFA9EF;
  ;
}

.hvr-sweep-to-right-red:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Sweep To Right Red,  */
.hvr-sweep-to-right-red-lime {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right-red-lime:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FF3f12;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right-red-lime:hover, .hvr-sweep-to-right-red-lime:focus, .hvr-sweep-to-right-red-lime:active {
  color: #86FF9E;
  ;
}

.hvr-sweep-to-right-red-lime:hover:before, .hvr-sweep-to-right-red-lime:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/* Stickers */
/* @media screen and (min-width: 680px) { */
  #endlesssummer {
    left: 5%;
    top: 15%;
    width: 30%;
    z-index: 0;
  }

  #RoundSticker {
    left: 0%;
    top: 33%;
    width: 18%;
    z-index: 0;
  }

  #PalmTree1 {
    left: 13%;
    bottom: 14%;
    width: 17%;
    z-index: 0;
    transform: rotate(-24deg);
  }

  #PalmTree2 {
    right: 13%;
    top: 0%;
    width: 21%;
    z-index: 0;
    transform: rotate(9deg);
  }

  #Ying {
    right: 18%;
    bottom: 14%;
    width: 12%;
    z-index: 0;
    transform: rotate(16deg);
  }


.cans {
  z-index: 999;
}

.stickerHold {
  z-index: 1;
  position: relative;
}

.mw40 {
  max-width: 24rem;
}

.logo {
  position: absolute;
  left: 0;
  top: 0;
}

/* Nav Stuff */
nav {
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
}

.nav-up {
  top: -118px; // same as header height. use variables in LESS/SASS
}

.green-nav svg {
  fill: #86FF9E;
}



.green-nav button {
  border: 2px solid #86FF9E;
  color: #86FF9E;
  background-color: transparent;
}

.red-nav svg {
  fill: #FF3f12 !important;
}

.red-nav button {
  border: 2px solid #FF3f12;
  background-color: transparent;
  color: #FF3f12;
  transition: all .1s ease-in;
}

.red-nav.button:hover {
  background-color: #FF3f12;
  color: #86FF9E;
}

.ig img {
  object-fit: cover;
  object-position: top center;
}

.ig {
  min-height: 400px;
}

.ig-copy {
  display: inline-block;
  position: absolute;
}

.modal {
  opacity: 0;
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 9999;
  transition: all .5s ease;
}

.modal-open {
  overflow-y: hidden;
  height: 100vh;
}

.modal-open nav button {
  display: none;
}


.modal-open .modal {
  display: flex;
  opacity: 1;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.modal-open . {
  display: none;
}

.mt-400 {
  margin-top: 400px;
}

.mt-256 {
  margin-top: 256px;
}

.ac>.ac-q {
  font-family: druk;
  color: #FF3f12;
  font-weight: 400;
  font-size: 18px;
  text-transform: none;
}

.ac {
  background-color: transparent;
  border: 0px;
  margin-bottom: 3rem;
}

.ac>.ac-a p {
  color: #FF3f12;
  font-family: 'maison';
  font-size: 16px;
}

/* Hamburger Menu */

.container {
  display: inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #A0F99F;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -7px);
  transform: rotate(45deg) translate(-8px, -7px);
}

.menuItems {
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease;
}

.menu .menuItems {
  visibility: visible;
  opacity: 1;
}

.menu .content {
  display: none;
  transition: opacity .5s ease;
}

.subhero {
  object-fit: cover !important;
  object-position: center center !important;
}
