<nav role='navigation' id="navbar" class="w-100 fixed z-9999 nav-down">
  <div class="ph4 pv3 flex w-100 justify-end items-center green-nav">

    <div id="hammenu" class="container">
      <div class="bar1 red"></div>
      <div class="bar2"></div>
      <div class="bar3"></div>
    </div>
  </div>

</nav>

<div class="menuItems vh-100 w-100 bg-red z-999 fixed o0 flex justify-center items-center tc">
  <div>

    <a href="/"><div class="lime f1 serif mb3">Home</div></a>
    <a href="/"><div class="lime f1 serif mb3">Shop Lime</div></a>
    <a href=""><div class="lime f1 serif mb3">Shop Grapefruit</div></a>
    <a href="faq"><div class="lime f1 serif mb3">FAQ</div></a>
    <a href="contact"><div class="lime f1 serif mb3">Contact US</div></a>
  </div>


</div>
