<div id="mc_embed_signup" class="mh0 w-100">
  <form action="#" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate center" target="_blank"
    novalidate">
    <fieldset class="cf bn email-form pa0">
      <div class="cf">
        <input class="f6 f5-l input-reset fl lime bg-red ph3  lh-solid w-70-ns ba bw1 b--lime w-100" placeholder="Your Email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="#" tabindex="-1" value=""></div>
        <input type="submit" value="Sign Up" name="subscribe" id="mc-embedded-subscribe" class="height-50 mt2 mt0-ns f7 button-reset fl pv3 ph3 tc bn bg-animate bg-lime red pointer w-100 w-30-ns druk">
      </div>
    </fieldset>
    <div id="mce-responses" class="clear">
      <div class="response " id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
  </form>
</div>
