---
layout: default
---

<div class="w-100 flex flex-row vh-25-ns ig overflow-hidden fixed top-0 z--1">
  <div class="ig-copy flex w-100 h-auto self-center ph4">
    <h3 class="lime mv0 tl lh-headline lh-narrow measure-narrow f-subheadline-ns f1 tc">Contact Us</h3>
  </div>
  <img src="assets/beach.jpg" class="w-100 subhero" />
</div>
<div class="bg-pink  mt-400">
  <div class="mw7 min-vh-100 center tc flex items-center justify-center flex-column pv5 ph2">
    <div class="mb5">
      <div class="red f1-ns f2 serif mb4">Customers</div>
      <a class="druk red" href="/">cheers@drinkonda.com</a>
    </div>
    <div class="mb5">
      <div class="red f1-ns f2 serif mb3">Wholesalers</div>
      <a class="druk red" href="/">wholesale@drinkonda.com</a>
    </div>
    <div class="mb5">
      <div class="red f1-ns f2 serif mb3">Retailers</div>
      <a class="druk red" href="/">retail@drinkonda.com></a>
    </div>
    <div class="mb5">
      <div class="red f1-ns f2 serif mb3">Customers</div>
      <a class="druk red" href="/">cheers@drinkonda.com></a>
    </div>
    <div class="mb5">
      <div class="red f1-ns f2 serif mb3">Media Enquiries</div>
      <a class="druk red" href="/">press@drinkonda.com></a>
    </div>
    <div class="">
      <div class="red f1-ns f2 serif mb3">Jobs</div>
      <a class="druk red" href="/">jobs@drinkonda.com></a>
    </div>

  </div>

</div>
