---
layout: default
---

<div class="w-100 flex flex-row vh-25 ig overflow-hidden fixed top-0 z--1">
  <div class="ig-copy flex w-100 h-auto self-center ph4">
    <h3 class="lime mv0 tl lh-headline lh-narrow measure-narrow f-subheadline-ns f1 tc">FAQ</h3>
  </div>
  <img src="assets/ig1.jpg" class="w-100" />
</div>
<div class="bg-pink  mt-400">
  <div class="mw7 center">
    <div class="accordion-container pv5">
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">What are the ingredients and nutrition information for Onda?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Does Onda contain allergens?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Is Onda gluten free?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">What is the shelf life of Onda?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">I am Onda's biggest fan. Can I partner with the brand?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>

    <div class="ac mb3">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>

    <div class="ac">
      <h2 class="ac-q red" tabindex="0">Sed velit ultricies rhoncus egestas a nisi, et sagittis, neque?</h2>
      <div class="ac-a">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dolor id quam pellentesque potenti purus id. Nunc at massa quam diam. Sagittis vel ultrices viverra viverra felis arcu porta sem.</p>
      </div>
    </div>
  </div>
  </div>

</div>
