---
layout: default
---









  <div id="hero" class="w-100 vh-100 bg-pink overflow-hidden">
    <div class="imagecontainers mw9 w-90 h-100 center hero-bg flex items-end justify-center">
      <a href="#"><img class="mw7 center lax" src="assets/lime.png" /></a>

    </div>
  </div>
  <div class="w-100 min-vh-100 bg-red flex items-center pv4-l pv5 content green-nav">
    <div class="mw9 center ph3-ns">
      <div class="cf ph2-ns flex flex-row-l flex-column sticker-hold">
        <div class="fl w-100 w-two-thirds-l pa2 relative test">
          <div class="z-999"><img class="w-100 center cans relative z999" src="assets/cans.png" /></div>
            <img data-aos="zoom-in-left" id="endlesssummer" class="absolute w-25" src="assets/EndlessSummer.png" />
            <img data-aos="zoom-in-left" id="RoundSticker" class="absolute w-25" src="assets/RoundSticker.png" />
            <img data-aos="zoom-in-left" id="PalmTree1" class="absolute w-25" src="assets/PalmTree.png" />
            <img data-aos="zoom-in-right" id="PalmTree2" class="absolute w-25" src="assets/PalmTree.png" />
            <img data-aos="zoom-in-right" id="Ying" class="absolute w-25" src="assets/Yingyang.png" />

        </div>
        <div class="fl w-100 h-100 w-third-l pa2 self-center flex flex-column items-center items-start-l">
          <div data-aos="fade-up" class="f1 lime serif flex justify-center h-100 tc tl-l mb0">Sparkling tequila just in time for summer.</div>
          <button class="lime-button hvr-sweep-to-right mt4 mb4">Shop Now</button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 vh-75-l pv6 pv0-l bg-beach flex items-center justify-center-m justify-center-s content green-nav">
    <div class="ph4-ns">
      <div class="cf ph2-ns flex items-center">
        <div class="fl w-100 pa2">
          <div data-aos="fade-up" class="lime serif f1 h-100 mw40 tl-l tc center-s">Summer is a state of mind best served in a can.</div>
        </div>
        <div class="fl w-100 w-two-thirds-ns dn pa2">
        </div>
      </div>
    </div>
  </div>

  <div class="w-100 bg-lime content red-nav">
    <div class="mw9 center ph3-ns pv5">
      <div class="cf ph2-ns">
        <div class="fl w-100 w-third-l pa2-l pa1">
          <div data-aos="fade-up" class="pv4-l pv2">
            <h3 class="red mv0">100 Calories</h3>
              <p class="red tc measure-narrow center sans-serif lh-copy f5">5% ABV. 0 sugar. 0 carbs. Gluten free. Made with natural ingredients only.</p>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="100" class="fl w-100 w-third-l pa2">
          <div class="pv4-l pv2">
            <h3 class="red mv0">Premium Tequila</h3>
            <p class="red tc measure-narrow center sans-serif lh-copy f5">Crafted with blanco tequila from a woman-owned distillery in Jalisco, Mexico.</p>
          </div>
        </div>
        <div data-aos="fade-up" data-aos-delay="200" class="fl w-100 w-third-l pa2">
          <div class="pv4-l pv2">
            <h3 class="red mv0">Real Legit Juice</h3>
            <p class="red tc measure-narrow center sans-serif lh-copy f5">We use real lime and grapefruit juice to bring you that true taste of summer.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Bio stuff  -->

  <div class="w-100 vh-75-l pv6 bg-palms flex items-center justify-center-m justify-center-s content green-nav">
    <div class="ph4-ns">
      <div class="cf ph2-ns flex items-center">
        <div class="fl w-100 pa2">
          <div data-aos="fade-up" class="lime serif h-100 mw40 tl-l tc center-s f1">ONDA WAS BORN FROM OUR OBSESSION WITH TEQUILA SODA AND INSPIRED BY THE SURF STYLE OF THE ‘90s</div>
            <p class="lime f5 measure-narrow sans-serif lh-copy tl-l tc center mh0-l mt4">We designed Onda to raise the bar by focusing on high-integrity ingredients we actually want to drink.

  </p>
        </div>
        <div class="fl w-100 w-two-thirds-ns dn pa2">
        </div>
      </div>
    </div>
  </div>


  <div class="w-100 flex flex-row-l flex-column content red-nav">
    <div id="scene-right" class="bg-lime w-100 flex items-center pa4-l pt4 ph4 flex-row-l flex-column pb5">
        <img data-depth="0.2" class="w-100  w-50-m w-50-l" src="assets/lime.png" />
        <div class="flex flex-column items-start-l items-center">
          <h3 class="red mv0 tl-l tc lh-headline lh-narrow measure-narrow f1">Lime</h3>
          <p class="red tl-l tc measure-narrow center sans-serif lh-copy f5 mt3">Lime & Tequila. Name a more iconic duo.</p>
          <button class="red-button mt2 hvr-sweep-to-right-red-lime">Shop Now</button>
        </div>
    </div>
    <div id="scene-left" class="bg-pink w-100 flex items-center pa4-l pt4 ph4 flex-row-l flex-column pb5 ">
        <img data-depth="0.1" class="w-100 w-50-m w-50-l" src="assets/grapefruit.png" />
        <div class="flex flex-column items-start-l items-center">
          <h3 class="red mv0 tl-l tc lh-narrow measure-narrow f1">Grapefruit</h3>
          <p class="red tl-l tc measure-narrow center sans-serif lh-copy f5 mt3">If tart and tangy is your thing.</p>
          <button class="red-button mt2 hvr-sweep-to-right-pinktxt">Shop Now</button>
        </div>

    </div>
  </div>

  <div class="w-100 flex flex-row vh-25 ig overflow-hidden">
      <div class="ig-copy flex w-100 h-auto self-center ph4">
        <span class="lime tl sans-serif lh-copy f5 mt3">Slide into our DMs</span>
        <a href="http://instagram.com/drinkonda"><h3 class="lime mv0 tl lh-headline lh-narrow measure-narrow f-subheadline-ns f1">@DrinkOnda</h3></a>

      </div>
      <img src="assets/ig1.jpg" class="w-50-ns w-100" />
      <img src="assets/ig2.jpg" class="dn db-m db-l w-25-l w-50" />
      <img src="assets/ig3.jpg" class="w-25 dn db-m db-l" />
  </div>
